# 02_02: Lists, Tuples, and the Slicing Syntax

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
nephews = ["Huey", "Dewey", "Louie"]

In [3]:
nephews

['Huey', 'Dewey', 'Louie']

In [4]:
len(nephews)

3

In [5]:
nephews[0]

'Huey'

In [6]:
nephews[2]

'Louie'

In [7]:
nephews[2]

'Louie'

In [8]:
nephews[-1], nephews[-2] # Lists can be indexed from the last cell using '-1'
# comma separated returns are assumed to be in a tuple

('Louie', 'Dewey')

In [9]:
type("hi"),44

(str, 44)

In [10]:
for i in range(len(nephews)):
    nephews[i] = nephews[i] + ' Duck'

In [11]:
nephews

['Huey Duck', 'Dewey Duck', 'Louie Duck']

In [12]:
mix_it_up = [1, [2,3], 'alpha']

In [13]:
mix_it_up

[1, [2, 3], 'alpha']

In [14]:
nephews.append('April Duck')

In [15]:
nephews

['Huey Duck', 'Dewey Duck', 'Louie Duck', 'April Duck']

In [16]:
nephews.extend(["235423","264346"])

In [17]:
nephews

['Huey Duck', 'Dewey Duck', 'Louie Duck', 'April Duck', '235423', '264346']

In [18]:
a = [[1,2],[3,4]]
print(a[-2])
print(a[-2][1])

[1, 2]
2

In [19]:
ducks = nephews + ['Donald Duck','Daisy Duck']
b = [44,66] + [[3346]] # `+` operator can be used instead of .append() and .extend()
print(b)

[44, 66, [3346]]

In [20]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 '235423',
 '264346',
 'Donald Duck',
 'Daisy Duck']

In [21]:
ducks.insert(0, 'Scrooge McDuck')

In [22]:
ducks

['Scrooge McDuck',
 'Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 '235423',
 '264346',
 'Donald Duck',
 'Daisy Duck']

In [23]:
# .insert() is a list method that can insert values to any position in list
ducks.insert(-2,"HIPOLARBEAR")
print(ducks)

['Scrooge McDuck', 'Huey Duck', 'Dewey Duck', 'Louie Duck', 'April Duck', '235423', '264346', 'HIPOLARBEAR', 'Donald Duck', 'Daisy Duck']

In [24]:
del ducks[0] # del can be used to delete certain cells in a list

In [25]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 '235423',
 '264346',
 'HIPOLARBEAR',
 'Donald Duck',
 'Daisy Duck']

In [26]:
ducks.remove('Donald Duck') # .remove() removes certain values from list
# if multiple, only the first is removed

In [27]:
a = [44,36,44,999]
a.remove(44)
a.remove(44)
print(a)

[36, 999]

In [28]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 '235423',
 '264346',
 'HIPOLARBEAR',
 'Daisy Duck']

In [29]:
ducks.sort()

In [30]:
ducks

['235423',
 '264346',
 'April Duck',
 'Daisy Duck',
 'Dewey Duck',
 'HIPOLARBEAR',
 'Huey Duck',
 'Louie Duck']

In [31]:
reverse_ducks = sorted(ducks, reverse=True)

In [32]:
reverse_ducks

['Louie Duck',
 'Huey Duck',
 'HIPOLARBEAR',
 'Dewey Duck',
 'Daisy Duck',
 'April Duck',
 '264346',
 '235423']

In [33]:
squares = [1,4,9,16,25,36,49]

In [34]:
squares[0:2]

[1, 4]

In [35]:
squares[:4]

[1, 4, 9, 16]

In [36]:
squares[3:]

[16, 25, 36, 49]

In [37]:
squares[:]

[1, 4, 9, 16, 25, 36, 49]

In [38]:
squares[0:7:2]

[1, 9, 25, 49]

In [39]:
squares[-3:-1]

[25, 36]

In [40]:
squares[2:4] = ['four', 'nine']

In [41]:
squares

[1, 4, 'four', 'nine', 25, 36, 49]

In [42]:
del squares[4:6]

In [43]:
squares

[1, 4, 'four', 'nine', 49]

In [44]:
len([])

0

In [45]:
integers = ('one', 'two', 'three', 'four')

In [46]:
integers

('one', 'two', 'three', 'four')

In [47]:
integers[-1], integers[1:3]

('four', ('two', 'three'))

In [48]:
integers[0] = 1

TypeError: 'tuple' object does not support item assignment

In [51]:
(a, b) = (1, 2) # Tuples allow simutaneous variable defining
print(a,b)

1 2

In [52]:
c, d = 3, 4

In [53]:
for i, duck in enumerate(ducks):
    print(i, duck)

0 235423
1 264346
2 April Duck
3 Daisy Duck
4 Dewey Duck
5 HIPOLARBEAR
6 Huey Duck
7 Louie Duck

In [54]:
def three_args(a, b, c):
    print(a, b, c)

In [55]:
my_args = (1,2,3)

In [57]:
three_args(*my_args) # Tuples can be used to store a set of function inputs, then passed using the dereferencing operator `*`

1 2 3